/**
 * HomePage Styles
 */

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-md);
}
